//VARIABLES
$brand-main:      #6600CC
$brand-sub :      #CC66FF
$brand-dark:      #333
$brand-light:     #E6F2FF


//MIXINS


//STYLES
body
  background-color: $brand-light

section
  background-color: $brand-sub
  margin: auto
  width: 650px
  height: 150px
  padding: 5px 4px 20px 10px
  border-radius: 10px
